html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f9dbbd;
  color: #333;
}

.form {
  box-sizing: border-box;
  margin: 40px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #ffa5ab;
  border-radius: 10px;
  box-shadow: 5px 5px 0 0 #a53860;
}

.formfield {
  width: 100%;
}

.formfield:not(:last-child) {
  margin-bottom: 20px;
}

.labeltext {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

.required .labeltext:after {
  content: 'Required';
  color: #a53860;
  position: absolute;
  right: 0;
  font-weight: normal;
  font-style: italic;
}

.labelfield {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.field {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

select.field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.field::-webkit-input-placeholder {
  color: #888;
}
.field::-moz-placeholder {
  color: #888;
}
.field:-ms-input-placeholder {
  color: #888;
}
.field:-moz-placeholder {
  color: #888;
}

.sublabel {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.button {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #da627d;
  color: #fff;
}

.button:hover {
  background-color: #a53860;
}
